* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
body {
    width: 100%;

}
.banner{
    width: 100%;
        height: 609px;
        background-image: url(images/donation11.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.rectangle {
    width: 100%;
    height: 609px;
    background-image: url(images/Rectangle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

.rectangle>h1 {
    font-size: 50px;
    font-weight: 600;
    padding-top: 15%;
    letter-spacing: 0.5px;
}

.rectangle>p {
    letter-spacing: 0.7px;
    padding-top: 1%;
    padding-bottom: 4%;
}

.donate-now {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 10px 20px;
    background-color: #FF5959;
    border-radius: 5px;
}
.donate-today {
    width: 100%;
    height: 550px;
    text-align: center;
}

.donate-today>h1 {
    font-size: 45px;
    font-weight: 600;
    padding-top: 10%;
    letter-spacing: 0.5px;
}

.donate-today>p {
    letter-spacing: 0.7px;
    padding-top: 1%;
    padding-bottom: 5%;
    color: #707070;
}

.donate-amount {
    display: flex;
    padding-bottom: 3%;
}

.donate-amount>a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: #707070;
    margin-left: 15px;
    padding: 20px 20px;
    background-color: #FAFAFA;
    border-radius: 3px;
}

#active {
    margin-left: 25.4%;
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
    color: #FF5959;
}

#amount {
    padding: 10px 200px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    border-bottom: 2px solid #DADADA;
}

#donate-btn {
    display: block;
    margin: 30px auto;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 10px 20px;
    background-color: #FF5959;
    border-radius: 5px;
    cursor: pointer;
}
.donation-plan {
    width: 100%;
    height: 670px;
    text-align: center;
}

.donation-plan>h1 {
    font-size: 45px;
    font-weight: 600;
    padding-top: 10%;
    letter-spacing: 0.5px;
}

.donation-plan>p {
    letter-spacing: 0.7px;
    padding-top: 1%;
    padding-bottom: 5%;
    color: #707070;
}
.plan-category {
    display: flex;
    text-align: left;
}

#first {
    margin-left: 140px;
}

.food {
    width: 25%;
    height: 300px;
    background-color: #4f9da642;
    margin-left: 20px;
    border-radius: 5px;
}

.shelter {
    width: 25%;
    height: 300px;
    background-color: #ff59592d;
    margin-left: 20px;
    border-radius: 5px;
}

.education {
    width: 25%;
    height: 300px;
    background-color: #fff4d6;
    margin-left: 20px;
    border-radius: 5px;
}

.food>img,
.shelter>img,
.education>img {
    width: 15%;
    padding-top: 65px;
    padding-left: 20px;
}

.food>h2,
.shelter>h2,
.education>h2 {
    font-size: 1.6rem;
    padding-left: 20px;
    padding-top: 20px;
}

.food>p,
.shelter>p,
.education>p {
    font-size: 0.8rem;
    padding-left: 20px;
    padding-top: 30px;
}
.get-me-update {
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
}

.get-me-update>h1 {
    font-size: 38px;
    font-weight: 600;
    padding-top: 5%;
}

.get-me-update>p {
    color: #707070;
    padding-bottom: 50px;
}

.subscribe-area {
    width: 70%;
    height: 200px;
    background-color: #FFF4D6;
    margin-left: 200px;
}

#email-btn {
    margin-top: 85px;
    padding: 7px 30px;
    font-size: 1.1rem;
    background-color: #D9D9D9;
    color: #AA9F9F;
    outline: none;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#subscribe {
    margin-top: 85px;
    margin-left: -5px;
    font-size: 1.1rem;
    padding: 7px 20px;
    background-color: #FF5959;
    color: #ffffff;
    outline: none;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

footer {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: #0B0D17;
}

footer>h1 {
    color: #FF5959;
    padding-top: 50px;
}

footer>p {
    color: #bdbec1;
    padding-top: 20px;
}